<p id="notice"><%= notice %></p>

<h1>The Denominator</h1>
  <h3>Input a Number</h3>
<!-- <form>
  <input type="number" name="value" value="value">
  <button type="submit">submit</button>
</form> -->

<%= form_for(Number.new) do |f| %>
  <%= number_field_tag(:number, :value, step: 0.01, min: 0.00,  :required => true) %>
  <%= submit_tag "submit" %>


<% end %>
<h4> Will return the least amount of bills and/or coins to reach that amount. <h4>
<br>


